<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Tabuada</title>
    </head>
    <body>
        <ul>
            {{#each valores}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </body>
</html>